# Covariance and Correlation

In [2]:
import pandas as pd
df= pd.read_csv(r"C:\Users\nikhi\Downloads\study_marks.csv")
df

   Study_Hours  Marks
0          2.9   27.0
1          5.8   61.0
2          4.7   45.0
3          4.0   38.0
4          1.8   19.0
5          1.8    8.0
6          1.3    4.0
7          5.3   50.0
8          4.0   35.0
9          4.5   47.0

In [4]:
df.cov()

             Study_Hours       Marks
Study_Hours     2.481000   28.906667
Marks          28.906667  348.711111

In [9]:
df.corr()

                Temperature  IceCream_Sales
Temperature        1.000000        0.999406
IceCream_Sales     0.999406        1.000000

In [6]:
df = pd.read_csv(r"C:\Users\nikhi\Downloads\temp_icecream_sales.csv")
df

   Temperature  IceCream_Sales
0           20             200
1           22             220
2           24             250
3           26             270
4           28             300
5           30             320
6           32             350
7           34             370
8           36             400
9           38             420

In [8]:
df.cov()

                Temperature  IceCream_Sales
Temperature       36.666667      455.555556
IceCream_Sales   455.555556     5666.666667

In [10]:
df.corr()

                Temperature  IceCream_Sales
Temperature        1.000000        0.999406
IceCream_Sales     0.999406        1.000000

In [12]:
data = {
    "rain": [30,32,29,35,33],
    "sales":[150,130,200,80,100]
}
df = pd.DataFrame(data)

In [13]:
df

   rain  sales
0    30    150
1    32    130
2    29    200
3    35     80
4    33    100

In [14]:
df.cov()

        rain   sales
rain     5.7  -107.0
sales -107.0  2170.0

In [15]:
df.corr()

           rain     sales
rain   1.000000 -0.962092
sales -0.962092  1.000000

In [43]:
data={
    "speed":[30,45,50,70,20],
    "distance":[15,13,20,10,10]
}
df=pd.DataFrame(data)
df

   speed  distance
0     30        15
1     45        13
2     50        20
3     70        10
4     20        10

In [44]:
df.cov()

           speed  distance
speed     370.00      2.75
distance    2.75     17.30

In [45]:
df.corr()

             speed  distance
speed     1.000000  0.034372
distance  0.034372  1.000000

# NORMALIZATION

In [53]:
import pandas as pd
s = pd.Series([1000,2000,3000,5000,9000])
s

0    1000
1    2000
2    3000
3    5000
4    9000
dtype: int64

In [54]:
s.min()

1000

In [55]:
s.max()

9000

In [56]:
s_norm = (s - s.min())/(s.max() - s.min())
print(s_norm)

0    0.000
1    0.125
2    0.250
3    0.500
4    1.000
dtype: float64

# IMPORT MODULES

In [58]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [59]:
s_norm = MinMaxScaler().fit_transform(s.values.reshape(-1, 1))
print(s_norm)

[[0.   ]
 [0.125]
 [0.25 ]
 [0.5  ]
 [1.   ]]

In [61]:
df = pd.DataFrame({
    "Temp":[20,25,30,35,40],
    "Humidity":[30,45,60,70,75]
})
df

   Temp  Humidity
0    20        30
1    25        45
2    30        60
3    35        70
4    40        75

In [62]:
norm_data = MinMaxScaler().fit_transform(df)
norm_data

array([[0.        , 0.        ],
       [0.25      , 0.33333333],
       [0.5       , 0.66666667],
       [0.75      , 0.88888889],
       [1.        , 1.        ]])

In [63]:
norm_df = pd.DataFrame(norm_data, columns=df.columns)
norm_df

   Temp  Humidity
0  0.00  0.000000
1  0.25  0.333333
2  0.50  0.666667
3  0.75  0.888889
4  1.00  1.000000

# STANDARDIZATION:(Z_SCORE)

In [64]:
import pandas as pd
s = pd.Series([1000,2000,3000,5000,9000])
s

0    1000
1    2000
2    3000
3    5000
4    9000
dtype: int64

In [65]:
s.mean()

np.float64(4000.0)

In [66]:
s.std()

3162.2776601683795

In [67]:
Z_Score=(s - s.mean()) / s.std()
print(Z_Score)

0   -0.948683
1   -0.632456
2   -0.316228
3    0.316228
4    1.581139
dtype: float64

In [68]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [69]:
Z_Score = StandardScaler().fit_transform(s.values.reshape(-1, 1))
print(Z_Score)

[[-1.06066017]
 [-0.70710678]
 [-0.35355339]
 [ 0.35355339]
 [ 1.76776695]]

In [71]:
Z_Score = (s - s.mean()) / s.std(ddof=0)
print(Z_Score)

0   -1.060660
1   -0.707107
2   -0.353553
3    0.353553
4    1.767767
dtype: float64

In [72]:
df = pd.DataFrame({
    "Temp":[20,25,30,35,40],
    "Humidity":[30,45,60,70,75]
})
df

   Temp  Humidity
0    20        30
1    25        45
2    30        60
3    35        70
4    40        75

In [77]:
Z_score=StandardScaler().fit_transform(df)
Z_score_df=pd.DataFrame(Z_score,columns=df.columns)

print(Z_score_df)

       Temp  Humidity
0 -1.414214 -1.570717
1 -0.707107 -0.664534
2  0.000000  0.241649
3  0.707107  0.845771
4  1.414214  1.147832